article(ng-show='applicant')
  div.panel.panel-primary
    header.panel-heading
      h3.panel-title {{ applicant.first_name }} {{ applicant.last_name }}

    div.panel-body
      p
        span.glyphicon.glyphicon-home
        | &nbsp;
        span(ng-bind='applicant.address')

      p
        span.glyphicon.glyphicon-earphone
        | &nbsp;
        span(ng-bind='applicant.phone')

      hr

      p
        span.glyphicon.glyphicon-book
        | &nbsp;
        span(ng-bind='applicant.specialization')
      p
        span.glyphicon.glyphicon-bookmark
        | &nbsp;
        span(ng-bind='applicant.degree')

    footer.panel-footer
      div
        span
          button.btn.btn-sm.btn-success(type='button'
            ng-click='accept(applicant.id)' ng-show="applicant.accepted != 'accepted'") قبول
          button.btn.btn-sm.btn-success(type='button' disabled
            ng-show="applicant.accepted == 'accepted'") تم القبول

        | &nbsp;

        span
          button.btn.btn-sm.btn-danger(type='button'
            ng-click='reject(applicant.id)' ng-show="applicant.accepted != 'rejected'") رفض
          button.btn.btn-sm.btn-danger(type='button' disabled
            ng-show="applicant.accepted == 'rejected'") تم الرفض

        span.pull-left
          button.btn.btn-sm.btn-primary(type='button') تعديل
          | &nbsp;
          button.btn.btn-sm.btn-danger(type='button') حذف
