extends ../../layouts/dashboard

include ../../mixins/applicants/applicants
include ../../mixins/progressbar

block content
  div.row
    +progress-bar('applicants.length > -1')

  +applicants('applicants')
