header
  include ../../partials/navbar
  div.page-header: h1.text-center تقديم طلب

div.container
  include ../../mixins/applicants/fields

  - formName = 'myForm'
  form(name=formName enctype='multipart/form-data' ng-submit='create()')

    +applicant-fields('applicant', formName)

    div.form-group: input.btn.btn-success.btn-block.btn-lg(type='submit'
        value='تقديم الطلب'
        ng-disabled=(formName + '.$invalid'))

hr

include ../../partials/footer
