header
  include ../../partials/navbar
  div.page-header: h1.text-center تقديم طلب

div.container
  include ../../mixins/applicants/fields

  form(name='myForm' ng-submit='create()')

    +applicant-fields('applicant')

    div.form-group: input.btn.btn-success.btn-block.btn-lg(type='submit'
        value='تقديم الطلب'
        ng-disabled='myForm.$pristine')

hr

include ../../partials/footer
