extends ../../layouts/dashboard
include ../../mixins/progressbar


block header
  | المتقدمين -&nbsp;{{applicant.first_name}}&nbsp;{{applicant.last_name}}

block content
  +progress-bar('applicant')

  include ../../partials/applicants/applicant
