extends ../../layouts/dashboard
include ../../mixins/progressbar


block header
  | المتقدمين -&nbsp;{{applicant.full_name}}

block content
  +progress-bar('applicant')

  include ../../partials/applicants/applicant
