extends ../../layouts/dashboard

include ../../mixins/applicants/applicant
include ../../mixins/progressbar


block header
  | المتقدمين -&nbsp;{{applicant.full_name}}

block content
  +progress-bar('applicant')

  +applicant('applicant', 'isEditing')
