extends ../../layouts/dashboard

include ../../mixins/applicants/applicant
include ../../mixins/progressbar


block header
  | المتقدمين -&nbsp;{{job_request.fullname}}

block content
  +progress-bar('job_request')

  +applicant('job_request', 'isEditing')
