$icon-font-path: "fonts/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
  font-family: 'Droid Arabic Naskh';
  padding-bottom: 20px;
  padding-top: 50px;
}
