extends ../../../../layouts/dashboard


block header
  | الطالب -&nbsp;{{student.fullname}}

block content
  section
    ul.nav.nav-tabs.nav-justified(dir='ltr')
      li(ng-show='isSupervisor()')
        a(ng-href='#/students/{{student.id}}/edit') تعديل
      li.active
        a(ng-href='#/students/{{student.id}}/alerts') الملاحظات
      li
        a(ng-href='#/students/{{student.id}}') عرض

  br

  section.text-center(ng-show='studentAlerts && studentAlerts.length == 0')
    h2.lead لا يوجد ملاحظات

  section(ng-show='studentAlerts')
    article.panel.panel-primary(ng-repeat='studentAlert in studentAlerts')
      header.panel-heading(ng-bind='studentAlert.title')
      div.panel-body(ng-bind='studentAlert.body')
      footer.panel-footer(ng-show='isGuide()')
        button.btn.btn-sm.btn-danger(type='button' ng-click='destroy(studentAlert.id)') حذف

  section(ng-show='isGuide()')
    hr
    form(name='addAlertForm' ng-submit='addAlert(studentAlert)')
      div.form-group
        label(for='alertTitle') العنوان
        input#alertTitle.form-control(type='text' name='alertTitle' placeholder='العنوان' required
          autofocus ng-model='studentAlert.title')
      div.form-group
        label(for='alertBody') المحتوى
        textarea#alertBody.form-control(type='text' name='alertBody' placeholder='المحتوى' required
          ng-model='studentAlert.body')
      div.form-group
        input.btn.btn-success.btn-lg.btn-block(type='submit' value='إضافة ملاحظة'
          ng-disabled='addAlertForm.$invalid')
