extends ../../layouts/dashboard

include ../../mixins/accountable/accountables

block header
  | وحدة المسؤولين

block content
  div.row
    +accountables('admins', true, '#/admins')

  div.row
    div.row
      a.btn.btn-success.btn-lg.btn-block(href='#/admins/new') إضافة مسؤول
