extends ../../layouts/dashboard

block header
  | وحدة المسؤولين

block content
  div.row
    include ../../partials/admins/admins

  div.row
    div.row
      a.btn.btn-success.btn-lg.btn-block(href='#/admins/new') إضافة مسؤول
