extends ../../layouts/dashboard

include ../../mixins/admins/admins

block header
  | وحدة المسؤولين

block content
  div.row
    +admins('admins')

  div.row
    div.row
      a.btn.btn-success.btn-lg.btn-block(href='#/admins/new') إضافة مسؤول
