extends ../../layouts/dashboard

include ../../mixins/accountable/accountable


block header
  | المسؤول&nbsp;-&nbsp;{{admin.fullname}}

block content
  +accountable('admin', 'isEditing()', 'update', 'destroy()', 'isUsernameConflict', '#/admins', true)
