mixin student-fields(recordName, usernameConflict, passwordRequired)

  include ../specializationfield
  include ../accountable/fields

  +accountable-fields(recordName, usernameConflict, passwordRequired)

  fieldset
    legend: h2 البيانات الأكاديمية
    div.form-group
      label(for='collegialNumber') الرقم الجامعي
      input#collegialNumber.form-control(type='number' name='collegialNumber'
        placeholder='الرقم الجامعي' required min='1' ng-min='1'
        ng-model=(recordName + '.collegial_number'))
    +specialization-field(recordName)
