mixin student-fields(recordName, allGuides, usernameConflict, passwordRequired)

  include ../specializationfield
  include ../accountable/fields

  +accountable-fields(recordName, usernameConflict, passwordRequired)

  fieldset
    legend: h2 البيانات الأكاديمية
    div.form-group(ng-class=("{'has-warning': " + usernameConflict + '}'))
      label(for='collegialNumber') الرقم الجامعي
      input#collegialNumber.form-control(type='number' min='1' name='collegialNumber'
        placeholder='الرقم الجامعي' required
        ng-model=(recordName + '.collegial_number'))
    div.form-group
      label(for='studentGuide') المشرف الأكاديمي
      select#studentGuide.form-control(placeholder='المشرف الأكاديمي' required
        ng-model=(recordName + '.guide_id')
        ng-options=('guide.id as guide.fullname for guide in ' + allGuides))
    +specialization-field(recordName)
