mixin course-fields(recordName, codeConflict)
  div.form-group(ng-class=("{'has-warning': " + codeConflict + '}'))
    label(for='courseCode') الرمز
    input#courseCode.form-control(type='text' name='courseCode' placeholder='الرمز' required
      ng-model=(recordName + '.code'))
  div.form-group
    label(for='courseName') الاسم
    input#courseName.form-control(type='text' name='courseName' placeholder='الاسم' required
      ng-model=(recordName + '.name'))
