extends ../../layouts/dashboard

include ../../mixins/accountable/usernametakenalert
include ../../mixins/students/fields
include ../../mixins/progressbar


block header
  | الطالب -&nbsp;{{student.fullname}}

block content
  section(ng-show='student')
    section
      ul.nav.nav-tabs.nav-justified(dir='ltr')
        li.active
          a(ng-href='#/students/{{student.id}}/edit') تعديل
        li(ng-show='isSupervisor() || isGuide()')
          a(ng-href='#/students/{{student.id}}/alerts') الملاحظات
        li
          a(ng-href='#/students/{{student.id}}') عرض

    br

    section(ng-show='guides && student')
      +username-taken-alert('usernameConflict')
      form(name='updateForm' ng-submit='update(student)')
        +student-fields('student', 'guides', 'usernameConflict', false)
        div.form-group
          input.btn.btn-primary.btn-lg.btn-block(type='submit' value='حفظ'
            ng-disabled='updateForm.$invalid || updateForm.$pristine || !isSupervisor()')
