extends ../../layouts/dashboard

include ../../mixins/progressbar

block header
  | الطلاب

block content
  div.row
    +progress-bar('students.length > -1')

  div(ng-show='students')
    div.row
      div.table-responsive
        table.table.table-hover.table-condensed.text-center
          thead
            tr
              th.text-center الاسم
              th.text-center الرقم الجامعي
              th.text-center إدارة
          tbody
            tr(ng-repeat='accountable in students')
              td
                a(ng-href='#/students/{{accountable.id}}'
                  ng-bind='accountable.fullname')
              td
                a(ng-href='#/students/{{accountable.id}}'
                  ng-bind='accountable.collegial_number')
              td
                div.btn-group
                  button.btn.btn-xs.btn-danger(type='button'
                    ng-click='destroy(accountable.id)') حذف
                  a.btn.btn-xs.btn-primary(ng-href='#/students/{{accountable.id}}/edit') تعديل

  div.row
    div.row
      a.btn.btn-success.btn-lg.btn-block(href='#/students/new') إضافة طالب
