extends ../../layouts/dashboard

include ../../mixins/accountable/usernametakenalert
include ../../mixins/students/fields

block header
  | إضافة طالب

block content
  div.row
    +username-taken-alert('usernameConflict')

    form(name='myForm' ng-submit='create()')
      +student-fields('student_account', 'usernameConflict', true)

      div.form-group: input.btn.btn-success.btn-block.btn-lg(type='submit'
          value='إضافة مستخدم'
          ng-disabled='myForm.$invalid')