extends ../../layouts/dashboard

include ../../mixins/progressbar

block header
  | الشعب

block content
  section(ng-show='classes')
    div.table-responsive: table.table.table-striped.table-condensed
      thead
        tr
          th.text-center رمز الشعبة
          th.text-center رمز المادة
          th.text-center المحاضر
          th.text-center النشاط
          th.text-center الساعات
          th.text-center اليوم
          th.text-center الوقت
          th.text-center الفصل الدراسي
          th.text-center إدارة
      tbody.text-center
        tr(ng-repeat='class in classes')
          td.text-center(title='{{class.name}}')
            a(ng-href='#/classes/{{class.id}}' ng-bind='class.code')
          td.text-center(title='{{class.course.name}}')
            a(ng-href='#/courses/{{class.course.id}}' ng-bind='class.course.code')
          td.text-center
            a(ng-href='#/teachers/{{class.teacher.id}}' ng-bind='class.teacher.fullname')
          td.text-center(ng-bind='class.type')
          td.text-center(ng-bind='class.hours')
          td.text-center(ng-bind='class.day')
          td.text-center {{ class.schedule | schedule }}
          td.text-center {{ class.semester | semester }}
          td.text-center
            div.btn-group
              button.btn.btn-xs.btn-danger(type='button' ng-click='destroy(class.id)') حذف
              a.btn.btn-xs.btn-primary(ng-href='#/classes/{{class.id}}/edit') تعديل

  section
    a.btn.btn-success.btn-lg.btn-block(href='#/classes/new') إضافة شعبة
