extends ../../layouts/dashboard

include ../../mixins/classes/fields
include ../../mixins/conflictalert

block header
  | إضافة شعبة

block content

  div.row
    +conflict-alert('isNameConflict', 'يوجد شعبة بنفس الاسم')
    form(name='myForm' ng-submit='create(class)')
      +class-fields('class', 'teachers', 'courses', 'isNameConflict')
      div.form-group: input.btn.btn-success.btn-block.btn-lg(type='submit'
          value='إضافة شعبة'
          ng-disabled='myForm.$invalid')
