extends ../../layouts/dashboard

include ../../mixins/accountable/accountables

block header
  | المشرفين الأكادميين

block content
  section(ng-show='guides')
    div.table-responsive: table.table.table-condensed.table-striped
      thead
        tr
          th.text-center البريد الإلكتروني
          th.text-center اسم المستخدم
          th.text-center الاسم الكامل
          th.text-center الهاتف
          th.text-center صفحة الأستاذ
          th.text-center إدارة
      tbody
        tr(ng-repeat='guide in guides')
          td.text-center(ng-bind='guide.email')
          td.text-center: a(ng-href='#/guides/{{guide.id}}' ng-bind='guide.username')
          td.text-center: a(ng-href='#/guides/{{guide.id}}' ng-bind='guide.fullname')
          td.text-center(ng-bind='guide.phone')
          td.text-center: a(ng-href='#/teachers/{{guide.id}}') صفحة الأستاذ
          td.text-center
            div.btn-group
              button.btn.btn-xs.btn-danger.glyphicon.glyphicon-minus(type='button'
                ng-click='removeGuide(guide.id)')

    hr

    section(ng-show='teachersNotGuides'): form(name='addGuideForm' ng-submit='addGuide(teacherId)')
      div.form-group: select.form-control(name='teacherId' required
        ng-options='teacher.id as teacher.username for teacher in teachersNotGuides'
        ng-model='teacherId')
      div.form-group
        input.btn.btn-success.btn-lg.btn-block(type='submit' value='أضف الأستاذ'
          ng-disabled='addGuideForm.$invalid')
