div.row(ng-controller='IndexCtrl')
  article.col-sm-6.col-md-4.text-center(ng-repeat='section in sections')
    header: h2(translate='{{section.title}}')

    p {{ section.body }}

    footer: a.btn.btn-primary(role='button' ng-href='{{section.link}}'
      translate='DETAILS')
