header
  include ../partials/navbar
  include ../partials/logo

hr

div.container
  div.row
    div.col-lg-4.visible-lg
      a.thumbnail(href='http://www.su.edu.sa' target='_blank')
        img(src='http://s.alriyadh.com/2012/11/11/img/308852973160.jpg')

    div.col-lg-4
      article.text-center(ng-repeat='gate in sections')
        header: h2(ng-bind='gate.title')
        p(ng-bind='gate.body')
        hr

    div.col-lg-4.visible-lg
      a.thumbnail(href='http://www.su.edu.sa' target='_blank')
        img(src='http://www.alweeam.com.sa/wp-content/uploads/2013/03/جامعة-شقراء1.jpg')

hr

include ../partials/footer
