header
  include ../partials/navbar

div.page-header.text-center
  h1 تسجيل دخول

div.container
  div.row(ng-show='loginFailed')
    div.alert.alert-danger
      button.close.pull-left(ng-click='loginFailed = false')
        &times;
      span اسم المستخدم أو كلمة المرور غير صحيحة

  div.row
    form(name='myForm' role='form' ng-submit='login()')
      div.form-group
        label(for='role') تسجيل دخول كـ
        select#role.form-control(ng-model='role' required)
          option(value='recruiter' selected) وحدة التوظيف
          option(value='admin') مسؤول
          option(value='teacher' disabled) أستاذ
          option(value='student' disabled) طالب
          option(value='guide' disabled) وحدة الإرشاد

      div.form-group
        label(for='username') اسم المستخدم
        input#username.form-control(type='text', placeholder='اسم المستخدم'
          required autofocus ng-model='user.username')

      div.form-group
        label(for='password') كلمة المرور
        input#password.form-control(type='password', placeholder='كلمة المرور'
          required ng-model='user.password')

      div.form-group
        input.btn.btn-success.btn-lg.btn-block(type='submit'
          value='تسجيل دخول' ng-disabled='myForm.$invalid')

hr

include ../partials/footer
