extends ../../layouts/dashboard

include ../../mixins/teachers/teachers

block header
  | الاساتذة

block content
  div.row
    +teachers('teachers')

  div.row
    div.row
      a.btn.btn-success.btn-lg.btn-block(href='#/teachers/new') إضافة استاذ
