mixin accountables(accountables, isUndeletable)
  include ../progressbar

  div.row
    +progress-bar(accountables + '.length > -1')

  div(ng-show=accountables)
    div.row
      div.table-responsive
        table.table.table-hover.table-condensed.text-center
          thead
            tr
              th.text-center الاسم
              th.text-center اسم المستخدم
              th.text-center إدارة
          tbody
            tr(ng-repeat=('accountable in ' + accountables))
              td(ng-bind='accountable.fullname')
              td(ng-bind='accountable.username')
              td
                div.btn-group
                  button.btn.btn-xs.btn-danger(type='button'
                    ng-click='destroy(accountable.id)' disabled=isUndeletable) حذف
                  button.btn.btn-xs.btn-primary(type='button' disabled) تعديل
