mixin accountable-fields(recordName)

  div.form-group
    label(for='fl') الاسم الكامل
    input#fl.form-control(type='text' placeholder='الاسم الكامل'
      ng-model=(recordName + '.full_name') required autofocus)

  div.form-group(ng-class="{'has-warning': usernameConflict}")
    label(for='username') اسم المستخدم
    input#username.form-control(type='text' placeholder='اسم المستخدم'
      ng-model=(recordName + '.username') required)

  div.form-group
    label(for='password') كلمة المرور
    input#password.form-control(type='password' placeholder='كلمة المرور'
      ng-model=(recordName + '.password') required)
