mixin username-taken-alert(usernameConflict)
  div.alert.alert-warning(ng-show=usernameConflict)
    button.close.pull-left(ng-click=(usernameConflict + ' = false'))
      &times;
    span يوجد مستخدم بنفس اسم المستخدم الرجاء تغيير اسم المستخدم
