mixin applicants(applicants)
  div(ng-show=applicants)
    div.row
      div.form-group
        input.form-control(type='text' ng-model='query'
          placeholder='بحث عن طريق الاسم, التخصص، الدرجة العلمية' autofocus)

    div.row
      div.table-responsive
        table.table.table-hover.table-condensed.text-center
          thead
            tr
              th.text-center الاسم
              th.text-center العنوان
              th.text-center التخصص
          tbody
            tr(ng-repeat=('applicant in ' + applicants + ' | filter:query')
                ng-class='getClass(applicant.accepted)')
              td: a(ng-href='#/applicants/{{applicant.id}}'
                ng-bind='applicant.full_name')
              td(ng-bind='applicant.address')
              td(ng-bind='applicant.specialization')
