extends ../../layouts/dashboard

//- include ../../mixins/faculty_members/faculty_members

block header
  | وحدة الإرشاد

block content
  include ../../partials/under_construction
  //- div.row
  //-   +faculty_members('faculty_members')

  //- div.row
  //-   div.row
  //-     a.btn.btn-success.btn-lg.btn-block(href='#/faculty_members/new') إضافة مستخدم
