header
  include ../views/_navbar

  div
    h1.page-header.text-center
      block header
        | لوحة التحكم

div.container
  div.row
    div.col-sm-9.col-md-10
      block content

    div.col-sm-3.col-md-2(ng-controller='SidebarCtrl')
      div.panel.panel-default.text-right(dir='ltr')
        div.panel-heading الأقسام

        div.list-group
          a.list-group-item(ng-repeat='link in links'
            ng-href='{{ link.path }}' ng-bind='link.title'
            ng-class='{active: isActive(link.path), disabled: !link.done}')

hr

footer
  include ../views/_footer
