header
  include ../views/_navbar

div.container-fluid
  div.row
    div.col-sm-3.col-md-2.sidebar.col-md-push-10.col-sm-push-9(
      ng-controller='SidebarCtrl')
      ul.nav.nav-sidebar
        li(ng-repeat='link in links'
          ng-class='{active: isActive(link.path), disabled: !link.done}')
          a(ng-href='{{ link.path }}' ng-bind='link.title')


    div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.col-md-pull-2.col-sm-pull-3.main
      h1.page-header لوحة التحكم
      block content
