header
  include ../views/_navbar

div.page-header.text-center
  h1
    block title

div.container
  form(name='myForm' role='form' ng-submit='login()')
    div.form-group
      label(for='username') اسم المستخدم
      input#username.form-control(type='text', placeholder='اسم المستخدم'
        required autofocus ng-model='user.username')

    div.form-group
      label(for='password') كلمة المرور
      input#password.form-control(type='password', placeholder='كلمة المرور'
        required ng-model='user.password')

    div.form-group
      input.btn.btn-success.btn-lg.btn-block(type='submit'
        value='تسجيل دخول' ng-disabled='myForm.$pristine')

hr

include ../views/_footer
