extends ../../layouts/dashboard

include ../../mixins/courses/fields
include ../../mixins/conflictalert
block header
  | إضافة مادة

block content

  div.row
    +conflict-alert('codeConflict', 'يوجد مادة بنفس الرمز')
    form(name='myForm' ng-submit='create(course)')
      +course-fields('course', 'codeConflict')
      div.form-group: input.btn.btn-success.btn-block.btn-lg(type='submit'
          value='إضافة مادة'
          ng-disabled='myForm.$invalid')
