extends ../../layouts/dashboard

include ../../mixins/accountable/accountables

block header
  | وحدة الإرشاد

block content
  div.row
    +accountables('supervisors', '#/supervisors')

  div.row
    div.row
      a.btn.btn-success.btn-lg.btn-block(href='#/supervisors/new') إضافة مستخدم
