extends ../../layouts/dashboard

include ../../mixins/accountable/accountables

block header
  | وحدة الإرشاد

block content
  section: +accountables('supervisors', '#/supervisors')

  section: a.btn.btn-success.btn-lg.btn-block(href='#/supervisors/new') إضافة مستخدم
