extends ../../layouts/dashboard

include ../../mixins/accountable/usernametakenalert
include ../../mixins/accountable/fields

block header
  | وحدة الإرشاد - إضافة مستخدم

block content
  div.row
    +username-taken-alert('usernameConflict')

    form(name='myForm' ng-submit='create()')
      +accountable-fields('supervisor_account', 'usernameConflict')

      div.form-group: input.btn.btn-success.btn-block.btn-lg(type='submit'
          value='إضافة مستخدم'
          ng-disabled='myForm.$invalid')
