extends ../../layouts/dashboard

include ../../mixins/accountable/accountables

block header
  | وحدة التوظيف

block content
  section: +accountables('recruiters', '#/recruiters')

  section: a.btn.btn-success.btn-lg.btn-block(href='#/recruiters/new') إضافة مستخدم
