extends ../../layouts/dashboard

include ../../mixins/recruiters/recruiters

block header
  | وحدة التوظيف

block content
  div.row
    +recruiters('recruiters')

  div.row
    div.row
      a.btn.btn-success.btn-lg.btn-block(href='#/recruiters/new') إضافة مستخدم
