extends ../../layouts/dashboard

include ../../mixins/accountable/accountables

block header
  | وحدة التوظيف

block content
  div.row
    +accountables('recruiters', '#/recruiters')

  div.row
    div.row
      a.btn.btn-success.btn-lg.btn-block(href='#/recruiters/new') إضافة مستخدم
